<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.fifthfloorstudio.gotta.clix.em.all"
    android:versionCode="37"
    android:versionName="1.13.7" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="net.fifthfloorstudio.gotta.clix.em.all.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true" >
        <activity
            android:name=".Loading"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ClixEmAll"></activity>
        <activity android:name=".honeycomb.ClixEmAllHoneyComb"></activity>
        <activity android:name=".lists.CollectionList"></activity>
        <activity android:name=".honeycomb.lists.CollectionListHoneyComb"></activity>
        <activity android:name=".lists.MultiEditList"></activity>
        <activity android:name="GlobalSearch"></activity>
        <activity android:name=".honeycomb.GlobalSearchHoneyComb"></activity>
        <activity android:name="AddClix"></activity>
    </application>

</manifest>
