<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.fifthfloorstudio.gotta.clix.em.all"
          android:versionCode="49"
          android:versionName="1.17.8">

	<uses-sdk
			android:minSdkVersion="4"
			android:targetSdkVersion="22"/>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
			android:name="net.fifthfloorstudio.gotta.clix.em.all.MyApplication"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name"
			android:theme="@style/AppTheme"
			android:allowBackup="true">
		<activity
				android:name=".Loading"
				android:label="@string/app_name"
				android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".ClixEmAll"/>
		<activity android:name=".honeycomb.ClixEmAllHoneyComb"/>
		<activity android:name=".lists.CollectionList"/>
		<activity android:name=".honeycomb.lists.CollectionListHoneyComb"/>
		<activity android:name=".lists.MultiEditList"/>
		<activity android:name=".GlobalSearch"/>
		<activity
				android:name=".honeycomb.GlobalSearchHoneyComb"
				android:parentActivityName=".honeycomb.ClixEmAllHoneyComb"/>
		<activity android:name=".AddClix"/>
		<activity
				android:name=".honeycomb.AddClixHoneyComb"
				android:parentActivityName=".honeycomb.AddClixHoneyComb"/>
		<activity android:name=".BackupActivity"/>
		<activity
				android:name=".honeycomb.BackupActivityHoneyComb"
				android:parentActivityName=".honeycomb.ClixEmAllHoneyComb"/>
	</application>

</manifest>
