;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun May 19 14:42:21 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/workspace/android/Clix em all/assets/" "~/workspace/android/Clix em all/assets/dc_tt.json" "~/workspace/android/Clix em all/assets/b_tae.json"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/kyrremann/workspace/android/Clix em all/assets/b_tae.json"
  "b_tae.json"
  'js-mode
  '(auto-complete-mode global-auto-revert-mode)
  28
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/kyrremann/workspace/android/Clix em all/assets/dc_tt.json"
  "dc_tt.json"
  'js-mode
  '(auto-complete-mode global-auto-revert-mode)
  538
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

